.quote {
    padding-top: 50px;
    padding-bottom: 140px;
    background-image: url(../../images/bracket2.svg), url(../../images/bracket1.svg);
    background-repeat: no-repeat;
    background-position-x: 226px, 1160px;
    background-position-y: 60px, 155px;
}
.quote__container{
    text-align: center;
}
.quote__line {
    max-width: 140px;
    height: 1px;
    border: 1px solid #DBDBDB;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
}
.quote__text {
    @include font;
    font-weight: 400;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #949494;
margin-bottom: 35px;
max-width: 753px;
margin-left: auto;
margin-right: auto;
}
.quote__author {
    @include font;
    font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #333333;
}
@media only screen and (max-width:1350px) {
    .quote{
        padding-top: 264px;
        background-image: url(../../images/bracket2.svg), url(../../images/bracket1.svg);
        background-repeat: no-repeat;
        background-position-x: 235px, 1050px;
        background-position-y: 288px, 380px;
    }
}
@media only screen and (max-width:1280px) {
    .quote{
        padding-top: 264px;
        background-image: url(../../images/bracket2.svg), url(../../images/bracket1.svg);
        background-repeat: no-repeat;
        background-position-x: 178px, 931px;
        background-position-y: 288px, 380px;
    }
    .quote__text{
        max-width: 600px;
    }
}
@media only screen and (max-width:1000px) {
    .quote{
        padding-top: 264px;
        background-image: url(../../images/bracket2.svg), url(../../images/bracket1.svg);
        background-repeat: no-repeat;
        background-position-x: 30px, 740px;
        background-position-y: 288px, 380px;
    }
}
@media only screen and (max-width:706px) {
    .quote__text{
        max-width: 100%;
    }
    .quote{
        padding-top: 170px;
        background-position-x: 30px, 740px;
        background-position-y: 209px, 380px;
    }
    .quote__author{
        font-size: 18px;
    }
}